<% provide :title, "Thêm môn học" %>
<% provide :button_text, "Thêm" %>
<div class="row">
  <div class="col-md-2">
    <%= render "layouts/nav" %>
  </div>
  <div class="col-md-10 content-admin">
    <div class="text-center">
      <h2><b>Thêm môn học</b></h2>
    </div>
    <br>
    <div class="col-md-12">
      <%= render "form" %>
    </div>
  </div>
</div>
