<% provide(:title, "Về chúng tôi") %>
<div class="row home-top">
  <div class="col-md-6">
    <%= image_tag("business-analysis.png", width: "100%") %>
  </div>
  <div class="col-md-6">
    <h3>Về chúng tôi</h3>
    <p>AsknTeach được sáng lập bởi các thành viên yêu thích việc giảng dạy và có đam mê với lĩnh vực giáo dục đến từ Singapore từ 2017. Với mong muốn tạo một kênh liên kết an toàn, chất lượng giữa phụ huynh, giáo viên và học sinh; đội ngũ các thành viên sáng lập đã tìm hiểu và kết hợp với các tổ chức giáo dục có uy tín tại Singapore trước khi đưa AsknTeach vào hoạt động tại Việt Nam.</p>
  </div>
</div>

<div class="row home-top">
  <div class="col-md-6">
    <h3>Tầm nhìn và Sứ mệnh</h3>
    <p>Chúng tôi tin rằng AsknTeach sẽ thành một người đồng hành giúp các bạn Gia sư sẽ có thể dạy một cách an toàn, thoải mái và dễ dàng nhất. Mỗi bậc phụ huynh sẽ luôn yên tâm về chất lượng giảng dạy, xứng đáng với kỳ vọng mà phụ huynh bỏ ra khi lựa chọn gia sư cho con mình.</p>
  </div>
  <div class="col-md-6">
    <%= image_tag("student-cartoon-png-2.png", width: "100%") %>
  </div>
</div>
