<div class="row home-top">
  <div class="col-md-6">
    <%= image_tag("home-img.png", width: "100%") %>
  </div>
  <div class="col-md-6">
    <h3>Tại sao bạn nên chọn AsknTeach để học?</h3>
    <p>Hiểu được mong muốn của bậc phụ huynh về việc học tập của con mình, Askntech luôn hướng tới sự chuyên nghiệp và trách nhiệm. Bắt đầu từ việc tiếp nhận thông tin, đến tuyển chọn gia sư đảm bảo gia sư sẽ luôn đáp ứng được các yêu cầu của bạn.</p>
    <p>Không chỉ vậy, tại Asknteach, phụ huynh sẽ không mất bất cứ khoản phí nào khi đăng ký tìm trong hàng ngàn gia sư uy tín của chúng tôi.</p>
    <p><%= link_to "XEM THÊM", phuhuynh_path, class: "button-background" %></p>
  </div>
</div>

<div class="row home-top">
  <div class="col-md-6">
    <h3>Tại sao nên chọn AskdTeach để giảng dạy?</h3>
    <p>Dù bạn ở độ tuổi nào, ngành nghề nào, AsknTeach luôn có những lớp học phù hợp với công việc và thời gian của bạn. Chỉ cần bạn có đam mê và kiến thức, bạn sẽ có thể trở thành gia sư của chúng tôi.</p>
    <p><%= link_to "XEM THÊM", giasu_path, class: "button-background" %></p>
  </div>
  <div class="col-md-6">
    <%= image_tag("home-app-img.png", width: "100%") %>
  </div>
</div>
