<li>
  <%= schedule.day %> - Từ <%= schedule.start_time.strftime("%H:%M") %> đến <%= schedule.end_time.strftime("%H:%M") %>
  <% if logged_in? && current_user?(schedule.post.tutor.nil? ? schedule.post.student.user : schedule.post.tutor.user) && !schedule.post.finished? %>
    <span style="padding-left: 1em">
      <%= link_to schedule_path(schedule), method: :delete, data: {confirm: "Bạn chắc chắn muốn xóa?"} do %>
        <em class="fa fa-trash"></em>
      <% end %>
    </span>
  <% end %>
</li>
