<% provide(:title, @post.title) %>
<div class="row mentor-info">
  <div class="col-md-4">
    <div>Thông tin chi tiết</div>
    <div class="row">
      <div class="col-md-5">
        <i class="fa fa-info"></i> Trạng thái
      </div>
      <div class="col-md-7"></div>
    </div>

  </div>
  <div class="col-md-8">b</div>
</div>
