.nav-admin{
  ul{
    padding: 1em;
    background-color: #fce3f8;
    div{
      border-bottom: 1px solid black;
      border-radius: 5px;
    }
  }
}
.content-admin{
  border: 1px solid #fce3f8;
  padding: 1em;
}

