.star{
  color: orange;
}

.tns-title{
  text-align: left;
  font-size: 150%;
  font-weight: bold;
}
.tns-title:after{
  content: " ";
  background-image: linear-gradient(to right, #a83a95, #dc467f, #fa6866, #ff9552, #fbc34e);
  display: block;
  margin-top: 4px;
  height: 3px;
  width: 201px;
  border-radius: 16px;
}

/* LIST TUTOR */
.list-tutor{
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    color: gray;
    font-size: 105%;
  }
  .card:hover{
    opacity: 0.8;
  }
  img{
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
  .card-name{
    font-weight: bold;
    color: black;
    padding-top: 1em;
    text-align: center;
  }
}
