.profile{
  background: #F9F9F9;
  padding: 1em;
  .info{
    margin-bottom: 2em;
    i{
      color: gray;
    }
    .title{
      color: gray;
    }
    p{
      color: black;
      font-weight: bold;
    }
  }
  .mentor-avatar {
    cursor: pointer;
    margin-bottom: 2em;
    padding-left: 2em;
  }
  .mentor-avatar img {
    width: 215px;
    height: 215px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #E5E5EA;
  }
}
/*------------------------------------------*/
.mentor-info{
  background: #F9F9F9;
  padding: 1em 2em;
  border: 5px solid white;
  box-shadow: 1px 1px 10px 1px;
  .row{
    margin-bottom: 2em;
  }
  .mentor-title:after {
    content: " ";
    background-image: linear-gradient(to right, #a83a95, #dc467f, #fa6866, #ff9552, #fbc34e);
    display: block;
    margin-top: 4px;
    height:4px;
    width: 96px;
    border-radius: 16px;
  }
  .mentor-content{
    padding-left: 1em;
    padding-top: 1em;
    font-size: 90%;
    color: black;
  }
}
/*------------------------------------------*/
.subject-taught li {
    padding: 1em 1em 0 1em;
    list-style: none;
    font-size: 14px;
    color: #92929D;
}
.subject-taught li:before {
    content: url("subject-taught-icon.svg");
    display: inline-block;
    width: 13px;
    height: 12.431px;
    margin-right: 10px;
}
