<% provide(:title, "Admin") %>
<div class="row">
  <div class="col-md-2">
    <%= render "layouts/nav" %>
  </div>
  <div class="col-md-10 content-admin text-center">
    <h3><b>WEBSITE HỖ TRỢ TÌM KIẾM GIA SƯ TRỰC TUYẾN</b></h3>
    <div>
      <p>Thiết kế & phát triển bởi Trần Văn Tú</p>
      <p>Sản phẩm phục vụ cho đồ án tốt nghiệp học kỳ 218</p>
      <p>Giáo viên hướng dẫn là TS. Lê Thị Mỹ Hạnh</p>
      <p>Thuộc trường Đại Học Sư phạm Kỹ Thuật - Đại học Đà Nẵng</p>
    </div>
  </div>
</div>
