<li><%= report.study_date %>
  <% if logged_in? && current_user?(report.post.tutor.user) && report.post.starting? %>
    <span style="padding-left: 1em">
      <%= link_to report_path(report), method: :delete, data: {confirm: "Bạn chắc chắn muốn xóa?"} do %>
        <em class="fa fa-trash"></em>
      <% end %>
    </span>
  <% end %>
  <p style="padding-left: 1em; padding-top: 0.5em;"><%= report.content %></p>
</li>
