<div class="nav-admin">
  <ul class="navbar-nav">
    <div class="nav-item">
      <i class="fa fa-home"></i>
      <%= link_to "Dashboard", admin_root_path, class: "nav-link cool color-item" %>
    </div>
    <div class="nav-item">
      <i class="fa fa-users"></i>
      <%= link_to "Quản trị viên", admin_users_path, class: "nav-link cool color-item" %>
    </div>
    <div class="nav-item">
      <i class="fa fa-graduation-cap"></i>
      <%= link_to "Gia sư", admin_tutors_path, class: "nav-link cool color-item" %>
    </div>
     <div class="nav-item">
      <i class="fa fa-book"></i>
      <%= link_to "Môn học", admin_subjects_path, class: "nav-link cool color-item" %>
    </div>
  </ul>
</div>
